# Every Hour
@hourly /usr/bin/python /media/pi/Transcend/workspace/github_committer/github_committer.py

# Every Midnight
@daily /usr/bin/python /media/pi/Transcend/workspace/github_committer/randomness.py

